body{
    background-color: beige;
    text-align: center;
}

header{
    font-size: 30px;
    align-items: center;
    margin-block-end: 50px;


}


.card {
    background-color: darksalmon;
    text-align: center;

    
    width: 60%;
    margin: 0 auto;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    
}

li{
    text-align: center;
    font-size: 20px;
    margin: 8px 0;
    
}

ul{
    list-style: center;
    padding: 0;
    margin: 0;
}